<!-- This file serves as a backup to inst/pkgdown/_pkgdown.yml -->

<div class="links">
<h2>Links</h2>
<ul class="list-unstyled">
<li><a href="http://www.somalogic.com">Learn more about SomaScan​</a>
</li>
<li><a href="http://www.somalogic.com/tech-notes/">Read SomaScan tech notes​</a>
</li>
</ul>
</div>

<div class="sidebar">
<h2>Getting Help</h2>
<ul class="list-unstyled">
<li><a href="https://somalogic.github.io/somatemplate/SUPPORT.html">Ask a question​</a>
</li>
<li><a href="https://github.com/SomaLogic/somatemplate/issues">Report a bug</a>
</li>
</ul>
</div>

<div class="links">
<h2>Other Software</h2>
<ul class="list-unstyled">
<li><a href="https://somalogic.github.io/SomaDataIO/">SomaDataIO​</a>
</li>
<li><a href="https://somalogic.github.io/SomaScan.db/">SomaScan.db </a>
</li>
<li><a href="https://github.com/SomaLogic/Canopy/">Canopy (Python) </a>
</li>
<li><a href="https://somalogic.com/datadelve-statistics/">DataDelve Statistics </a>
</li>
</ul>
</div>
